@model IEnumerable<CreditBook.Models.BookViewModel.Customer>

<h1>Müsteri Sayafası</h1>
<br />  
<form asp-controller="Customer" asp-action="Create" method="post">
    <input type="hidden" name="Id" />
    <div>
        <label>Adı Soyadı:</label>
        <input type="text" name="NameSurname" class="form-control" value="" required />
    </div>
    <br />
</form>
<form asp-controller="Customer" asp-action="Index" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Müsteri Kodu</th>
                <th>Adı Soyadı</th>
                <th>Toplam Borç</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="Shopping" asp-route-id="@item.Id">
                            @item.NameSurname
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDept)                     
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a> |
                        <a asp-action="Index" asp-controller="Payment" asp-route-id="@item.Id"> Öde </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>